<a href="https://colab.research.google.com/github/MayyarAA/PythonProject/blob/main/demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy
import scipy
import pandas
import matplotlib.pyplot as plt
import sklearn    
from google.colab import files
from google.colab import drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pandas.read_csv("/content/drive/My Drive/Colab Notebooks/pokemon_data.csv")
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [ ]:
df.loc[df['Type 1'] == "Grass"]

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
..   ...                    ...    ...  ...   ...         ...        ...
718  650                Chespin  Grass  ...    38           6      False
719  651              Quilladin  Grass  ...    57           6      False
720  652             Chesnaught  Grass  ...    64           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False

[70 rows x 12 columns]

In [ ]:
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df['Total'] = df.iloc[0:4, 4:10].sum(axis=1)
df.head(4)

   #                   Name Type 1  Type 2  ...  Speed  Generation  Legendary  Total
0  1              Bulbasaur  Grass  Poison  ...     45           1      False  318.0
1  2                Ivysaur  Grass  Poison  ...     60           1      False  405.0
2  3               Venusaur  Grass  Poison  ...     80           1      False  525.0
3  3  VenusaurMega Venusaur  Grass  Poison  ...     80           1      False  625.0

[4 rows x 13 columns]

In [ ]:
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]]
df.head(5)

   #                   Name Type 1  Type 2  Total
0  1              Bulbasaur  Grass  Poison  318.0
1  2                Ivysaur  Grass  Poison  405.0
2  3               Venusaur  Grass  Poison  525.0
3  3  VenusaurMega Venusaur  Grass  Poison  625.0
4  4             Charmander   Fire     NaN    NaN

In [ ]:
df_temp = df
df_temp.loc[df_temp['Type 1']=='Fire','Type 2'] = 'Fun'
df_temp.head(100)

     #                   Name  Type 1  Type 2  Total Legendary
0    1              Bulbasaur   Grass  Poison  318.0       NaN
1    2                Ivysaur   Grass  Poison  405.0       NaN
2    3               Venusaur   Grass  Poison  525.0       NaN
3    3  VenusaurMega Venusaur   Grass  Poison  625.0       NaN
4    4             Charmander    Fire     Fun    NaN      True
..  ..                    ...     ...     ...    ...       ...
95  88                 Grimer  Poison     NaN    NaN       NaN
96  89                    Muk  Poison     NaN    NaN       NaN
97  90               Shellder   Water     NaN    NaN       NaN
98  91               Cloyster   Water     Ice    NaN       NaN
99  92                 Gastly   Ghost  Poison    NaN       NaN

[100 rows x 6 columns]

In [ ]:
df.to_csv("modifiedpokemon.csv")

In [ ]:
files.download('modifiedpokemon.csv')

In [ ]:
drive.mount('/content/drive')
path  = "/content/drive/My Drive/Colab Notebooks/pokemon_data_modified1.csv"
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).